{% extends 'base.html.twig' %}

{% block title %}Game List{% endblock %}

{% block body %}

<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Parties</h1></div>
    </div>
    <table class="table table-hover table-dark table-stripedr">
        <thead>
            <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Score</th>
            <th>Created_At</th>
            <th>Ended_At</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.status }}</td>
                <td>{{ game.score }}</td>
                <td>{{ game.createdAt|date("m/d/Y") }}</td>
                <td>{{ game.endedAt|date("m/d/Y") }}</td>
                <td>{{ game.user.nickname }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun partie trouvée :'(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
