{% extends 'base.html.twig' %}

{% block title %}Game List{% endblock %}

{% block body %}

<div class="container mb-auto">
	<div class="row d-flex">
		<div class="col-11"><h1>Liste des Parties</h1></div>
		<div class="col-1 d-flex align-items-center"><a href="{{ path('back_comment_create') }}" class="btn btn-success">Ajouter</a></div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>status</th>
                <th>score</th>
                <th>scénario</th>
                <th>user</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.status }}</td>
                <td>{{ game.score }}</td>
                <td>{{ game.scenario }}</td>
                <td>{{ game.user }}</td>
                    <form action="{{ path('back_comment_update', {id: game.id}) }}" method="get">
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="submit" class="btn btn-success edit"><i class="far fa-edit"></i></i></button>
                        </div>
                    </td>
                </form>
                <form action="{{ path('back_comment_delete', {id: game.id}) }}" method="post">
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="submit" class="btn btn-danger delete"><i class="far fa-trash-alt"></i></button>
                        </div>
                    </td>
                </form>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun partie trouvée :'(</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
